body {
    background-image: url("../images/wolf.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Nunito,sans-serif;
    text-align: center;
}

.container {
    box-shadow: 0 0 30px indianred, 0 0 15px #0000FF;
    padding: 10px 0px;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: #f2f2f2;
    width: 400px;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 120px;
}

.container-username {
    padding: 10px 0;
}

.container-password {
    padding: 10px 0;
}

.container input {
    padding-top: 10px;
    padding-left: 7px;
    padding-right: 50px;
    letter-spacing: 0.15px;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.container button {
    margin: 10px 0;
}

.container-submit {
    width: 50%;
    background-color: #95314E;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.container-submit:hover {
    background-color: #5A233A;
    color: white;
    box-shadow: 0 0 3px #FF0000;
}

.container hr {
    border: 1px solid #5A233A;
}

.container h3 {
    font-family: 'Nunito', sans-serif;
}